<!-- <section>
  <article>
    <h3>Interpolation String</h3>
    <p>Accessed from {{url}}</p>
    <p>Utilizando função getValor: {{getValor()+1}}</p>
    <p>Interpolação com imagem:</p>
    01<img src='{{urlImagem}}'/>
    02<img [src]='urlImagem' [alt]='url'/>
  </article>

</section>
-->
<!--
<section>
  <article>
    <h3>CSS Style e Class</h3>
    <div>
      Selecione uma classe 
      <select #classe (change)="0">
          <option value="alert-success">Sucess</option>
          <option value="alert-info">Info</option>
          <option value="alert-warning">Warning</option>
          <option value="alert-danger">Danger</option>
      </select>

      <p class="alert" [class]="classe.value">Aqui temos a cor.</p>

    </div>
  </article>
</section>
-->
<!--
<section>
  <article>
    <h3>Event Binding</h3>
    <div>
      <button class="btn btn-primary" (click)="clique()">Clique me</button>
      <input type="text"
      (keyup)="onKeyUp($event)"
      >
      <label>{{valorAtual}}</label>
    </div>
  </article>
</section>
-->

<section class="input-output-properties">
  <article>
    <h3>Input/Output Properties</h3>
    <app-curso [nome]="nomeDoCurso"></app-curso>
  </article>
</section>